block header
  div.head
    nav.nav
      //- a(href = '/').navbar-brand Alexander Penkin
      div.menu
        img(src='./img/Swash_ornament.svg').ornamentLeft
        a(href = '/').menuLink Blog
        a(href = '/portfolio').menuLink Portfolio


      div.logo AlexPenkin
      div.userMenu

        if user && user.username == 'Admin'
          a(href = '/makePost').menuLink Add Post
        if user
          a().menuLink.userName#username #{user.username}
          a(href = '/logOut').menuLink Выйти
        else
          //a(href = '/login').menuLink Войти
          a(href = '/contacts').menuLink Contacts
          a(href = 'https://github.com/AlexPenkin').gitLogo
            <img src = '/img/GitHub-Mark-120px-plus.png'></img>
          //a(href = '/signUp').menuLink ???
        img(src='./img/Swash_ornament.svg').ornamentRight

  div.drawer.drawer--top
    header(role="banner")
      a(href= '/').HeadName.logo AlexPenkin
      button(type="button").drawer-toggle.drawer-hamburger
        span.sr-only toggle navigation
        span.drawer-hamburger-icon

      nav(role="navigation").drawer-nav
        div.menu
          a(href = '/').menuLink Blog
          a(href = '/portfolio').menuLink Portfolio
          a(href = '/contacts').menuLink Contacts
          a(href = 'https://github.com/AlexPenkin').gitLogo
            <img src = '/img/GitHub-Mark-120px-plus.png'></img>
          img(src='./img/curvesOrnament2.png').ornamentMobile

          if user && user.username == 'Admin'
            a(href = '/makePost').menuLink Add Post

        //- div.userMenu
        //- if user
        //-   a().menuLink.userName#username #{user.username}
        //-   a(href = '/logOut').menuLink Выйти
        //- else
        //-   a(href = '/login').menuLink Войти
        //-   a(href = '/signUp').menuLink Зарегистрироваться
script(type='text/javascript', src= '/js/drawerInit.js' defer)
