block header
  div.head
    nav.nav
      a(href = '/').navbar-brand Alex Penkin
      div.menu
        a.menuLink Блог
        a.menuLink Портфолио
        a.menuLink Чатик
        a.menuLink Обо мне
        a(href = '/makePost').menuLink Add Post
      div.userMenu
        a.menuLink Войти
