block header
  div.head
    nav.nav
      //- a(href = '/').navbar-brand Alexander Penkin
      div.menu
        a(href = '/').menuLink Блог
        a(href = '/portfolio').menuLink Портфолио
        a.menuLink Обо мне

      div.logo AlexPenkin
      div.userMenu
        if user && user.username == 'Admin'
          a(href = '/makePost').menuLink Add Post
        if user
          a().menuLink.userName#username #{user.username}
          a(href = '/logOut').menuLink Выйти
        else
          a(href = '/login').menuLink Войти
          a(href = '/login').menuLink Контакты
          a(href = '/signUp').menuLink Зарегистрироваться

  div.drawer.drawer--top
    header(role="banner")
      a(href= '/').HeadName.logo AlexPenkin
      button(type="button").drawer-toggle.drawer-hamburger
        span.sr-only toggle navigation
        span.drawer-hamburger-icon

      nav(role="navigation").drawer-nav
        div.menu
          a(href = '/').menuLink Блог
          a(href = '/portfolio').menuLink Портфолио
          a(href = '/chat').menuLink Чатик
          a.menuLink Обо мне
          if user && user.username == 'Admin'
            a(href = '/makePost').menuLink Add Post

        div.userMenu
        if user
          a().menuLink.userName#username #{user.username}
          a(href = '/logOut').menuLink Выйти
        else
          a(href = '/login').menuLink Войти
          a(href = '/signUp').menuLink Зарегистрироваться
script.
  $(document).ready(function() {
    $('.drawer').drawer();
  });
