block mainInfo
  doctype html
  html(lang="ru")
    head
      title= Блог
      script(type='text/javascript', src= 'https://code.jquery.com/jquery-2.2.4.min.js')
      script(type='text/javascript', src= 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
      link(rel= 'stylesheet',href= 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
      link(rel= 'stylesheet',href= './css/normalize.css')
      link(rel= 'stylesheet',href= './css/style.css')
    body
