include ./includes/mainInfo.jade
include ./includes/header.jade
div.contacts
  span.textContacts
    | Give me a shout out
    | & I will make you
    | a believer.
  div.wrapperContacts
    div.contactsInfo
      div.rotatedHead E
      a(href="mailto:sanekpenkin@gmail.com").contactEntry sanekpenkin@gmail.com
    div.contactsInfo
      div.rotatedHead T
      a(href = 'http://telegram.me/AlexPenkin').contactEntry @AlexPenkin
    div.contactsInfo
      div.rotatedHead P
      div.contactEntry +7 900 969 01 32
