include ./includes/mainInfo.jade
include ./includes/header.jade


block porfolio
  div#portWrapR.row

script(type='text/javascript', src= './js/bundle.js' defer)
//-script(src="./js/browser.min.js" defer)
