include ./includes/mainInfo.jade
include ./includes/header.jade
script(type='text/javascript', src= 'https://cdnjs.cloudflare.com/ajax/libs/rxjs/4.1.0/rx.lite.js')
script(type='text/javascript', src='./js/borderMoving.js')
block porfolio
  div.portWrap#portWrap.col-lg-8.col-md-8.col-sm-12.col-xs-12.col-md-offset-2.col-lg-offset-2
    div.portItem.col-lg-2.col-md-2.col-sm-6.col-xs-12
    div.portItem.col-lg-2.col-md-2.col-sm-6.col-xs-12
    div.portItem.col-lg-2.col-md-2.col-sm-6.col-xs-12
    div.portItem.col-lg-2.col-md-2.col-sm-6.col-xs-12
    div.portItem.col-lg-2.col-md-2.col-sm-6.col-xs-12
    div.portItem.col-lg-2.col-md-2.col-sm-6.col-xs-12
