include ./includes/mainInfo.jade
include ./includes/header.jade
div.logQuadWrap
  div.signBlock.logQuad.col-lg-2.col-md-2.col-sm-12.col-xs-12.col-md-offset-5.col-lg-offset-5
    p Регистрация
    form(action="/signUp" method="post") 
      input(type ='input' placeholder = "Логин" name= 'username').form-control
      input(type ='password' placeholder = "Пароль" name= 'password').form-control
      input(type ='email' placeholder = "email" name= 'email').form-control
      div.gendersRadio
        div
          input(type ='radio' name= 'gender' value = 'Мужчина') 
          | Мужчина
        div
          input(type ='radio' name= 'gender' value = 'Женщина') 
          | Женщина
      input(type= 'submit' value= 'Зарегистрироваться').awesomeBut    
