body, html {
    width: 100%;
    height: 100%;
    margin: 0px;
    min-height: 100%;
    overflow: visible;
    position: relative;
    background-color: #fafafa;
    /*font-family: "San Francisco Display Regular" !important*/
}
html {
  /*overflow: hidden;*/
}
.head {
    width: 100%;
    height: 12.2%;
    min-height: 120px;
    overflow: hidden;
    z-index: 101;
    background-color: white;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    font-family: 'San Francisco Display Regular' !important;
}

.head, .logo {
    display: flex;
    align-items: center
}

.logo {
    font-size: 2.6vw !important;
    width: 20%;
    cursor: pointer;
    justify-content: center;
    font-family: SF Collegiate;
    transform: translateY(6px);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.ornamentLeft {
    top: 3px;
    left: 0;
    position: absolute;
}

.ornamentRight {
    right: 0;
    position: absolute;
    transform: rotateY(180deg);
    top: 3px;
}

.ornamentMobile {
    margin: 20px 0;
    height: 40px;
}

.nav {
    height: 50px;
    margin-bottom: 40px;
    border: 1px solid transparent;
    min-width: 87%;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    z-index: 100;
    font-size: 18px;
}

.menu, .nav {
    position: relative;
    display: flex;
    flex-direction: row
}

.menu {
    max-height: 50px;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    padding-left: 165px;
    /*margin-right: auto;*/
    border-top: 1px solid #000;
    border-bottom: 1px solid #000
}

.menuMobile {
    display: flex;
    flex-direction: column
}

.menu a {
    padding: 0 5%;
    height: 20px;
    white-space: nowrap;
    color: #000;
    cursor: pointer;
    position: relative;
    display: inline-block;
    /*font-family: Open Sans*/
}

.navbar-brand {
    color: #fff;
    cursor: pointer;
    padding-right: 6%
}

.userMenu {
    min-width: 1px;
    display: flex;
    width: 40%;
    padding-right: 165px;
    flex-direction: row;
    justify-content: space-around;
    max-height: 50px;
    align-items: center;
    position: relative;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000
}

.userMenu a {
    white-space: nowrap;
    color: #000;
    margin-left: 10px;
    height: 20px;
}

.blogWrap {
    margin-top: 10px;
    max-height: 100%
}

.blogPostWrap {
    max-height: 100%;
}

.blogPost {
    min-height: 100px;
    border: thin solid #e0e0e0;
    margin: 0px 0 10px;
    border-radius: 2px;
    box-shadow: 0 0 10px #eaeaea;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
    background-color: white;
}

.postWrap {
    height: 80%;
    margin-top: 50px
}

.meta {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    word-wrap: normal
}

.meta input {
    margin: 10px 0
}

a {
    cursor: pointer
}

.title {
    min-height: 50px;
    color: #1a0000;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
    overflow: hidden;
    text-align: center
}

.readMore {
    margin: 20px 0;
    text-decoration: underline;
    color: green;
    height: 40px
}

.titleData {
    font-size: 12px
}

.autorAndDate {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column
}

.commentsAndTags {
    display: flex;
    justify-content: space-between
}

.titleAutor {
    margin: 20px 0 15px
}

#send {
    margin-top: 20px
}

@media (min-width:769px) and (max-width:5000px) {
    .drawer {
        display: none!important
    }
}

.title a {
    text-decoration: none;
    color: #000;
    overflow: auto
}

.headPost {
    width: 100%;
    height: 400px;
    background-color: gray;
    position: absolute;
    filter: brightness(33%);
    top: 0;
    z-index: -1
}

.postTitle {
    color: #fff;
    font-size: 25px;
    height: 345px;
    display: flex;
    text-align: center;
    justify-content: flex-end;
    flex-direction: column;
    z-index: 3;
}

.postTitle p {
    text-shadow: 2px 2px 4px #000
}

.postTitle p:first-child {
    overflow: auto;
    word-break: break-word
}

.dateAutor {
    font-size: 15px;
    margin-bottom: 50px;
}

.fullText img {
    width: 100%;
    height: auto
}

figure {
    margin: 0
}

.fullText {
    white-space: normal;
    word-break: normal;
    margin-top: 45px
}

.headWrap {
    height: 400px;
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 120px;
    z-index: 1;
}

.headWrap>div {
    will-change: transform;
    transition: transform;
}

.postTags {
    margin-top: 50px
}

.awesomeTag {
    border: thin solid #7cde9c;
    border-radius: 50px;
    padding: 10px;
    display: inline-block;
    margin: 0 10px;
    color: #7cde9c;
    transition: background .7s, color .1s
}

.awesomeTag:hover {
    background: #7cde9c;
    color: #fff
}

.awesomeTag:active {
    background: #7cae9c;
    color: #fff
}

.logQuad {
    text-align: center;
    display: inline-block;
    transition: all 1s
}

.logQuad input {
    display: inline-block;
    margin: 15px 0
}

.logQuadWrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    top: 0
}

.awesomeBut {
    background-color: transparent;
    border-radius: 5px;
    border: thin solid #7cde9c;
    padding: 10px 20px;
    width: auto;
    transition: background .7s, color .1s
}

.awesomeBut:hover {
    background: #7cde9c;
    color: #fff
}

.gendersRadio {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center
}

.views {
    margin-top: -35px;
    font-size: 15px;
    margin-bottom: 55px
}

.liked {
    background: red
}

.liked, .notLiked {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: thin solid red
}

.notLiked {
    background: #fff
}

.chatUserInputs {
    display: flex;
    flex-direction: row;
    align-items: center
}

.chatUserMessages {
    border: thin solid #000;
    min-height: 200px;
    display: inline-block;
    position: relative
}

.chatInput {
    width: 100%
}

.chatUserInputs {
    padding: 0
}

.chatSend {
    width: 100px
}

#onlineUsers {
    position: absolute;
    right: 0;
    bottom: 0
}

.portWrapReact {
    justify-content: center;
    min-width: 88%;
    margin: 0 6%;
    padding-top: 2%;
    height: auto;
    /*display: flex;*/
    justify-content: space-between
}

.portItem {
    /*margin: 0!important;*/
    padding: 0!important;
    position: relative;
    box-sizing: border-box;
    margin: auto;
    width: 25%;
    min-height: 200px;
    height: 36vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;
    font-family: 'San Francisco Display Ultralight';
    /*margin-top: 15px !important;*/
}

.portItem>span {
    color: white;
    font-size: 40px;
    text-decoration: none;
    z-index: 123123;
}

.portItem:nth-child(6n+1) {
    width: 50%;
}

.portItem:nth-child(6n) {
    width: 50%;
}


/*.portItem:nth-child(3n+1) {
    margin: 0!important;
}*/

.bubbleDiv {
    height: 100%;
    width: 100%;
    transform: scale(0)!important;
}

.bubbleDiv>span {
    white-space: normal;
    text-align: center;
}

.portItem:hover .bubbleDiv {
    transform: scale(1)!important;
    opacity: 1!important;
    visibility: visible !important;
}

.portItem>div {
    transition: all .4s
}

.portItem>img {
    width: 100%;
    height: auto;
    display: block
}

.movingBorder {
    position: absolute;
    border: 1px solid orange;
    z-index: -1
}

#Auth {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow: hidden
}

#portWrapR {
    /*min-width: 80vh;*/
    margin: 0 auto;
    /*width: 87;*/
    height: 87.8%;
    position: relative;
}

button, button:active, button:focus {
    outline: none
}

@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:1) {
    .menu, .userMenu {
        width: 335px;
        margin: 0
    }
}

.blog-appear {
    opacity: .01;
    transform: translateX(0)
}

.blog-enter {
    opacity: .01
}

.blog-enter.blog-enter-active {
    opacity: 1;
    transition: opacity 1s ease-in
}

.blog-appear.blog-appear-active {
    opacity: 1;
    transform: translateX(0);
    transition: all 1s ease-in
}

.blog-leave {
    opacity: 1;
    transform: translateX(500px);
    transition: all 1s ease-in
}

.blog-leave.blog-leave-active {
    opacity: .01;
    transform: translateX(500px)
}

.portWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    /*overflow: hidden;*/
    /*transform: translateY(-1vh);*/
}

.portWrapper>span {
    position: absolute;
    top: 15px;
    right: 500px;
    z-index: 2;
}

.portWrapper>span:nth-child(2) {
    position: absolute;
    right: 550px;
}

.portBigImg {
    width: 33%;
    height: 100%;
    position: relative;
    will-change: transform;
    overflow: hidden;
}

.portBigImgCh {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 45px;
    background-color: green;
    text-transform: uppercase;
    font-family: "San Francisco Display Ultralight";
    overflow: hidden;
    will-change: transform;
}

[data-reactroot] {
    height: 100% !important;
}

.portText {
    height: 100%;
    width: 67%;
    position: relative;
    will-change: transform;
    overflow: hidden;
}

.portTextCh {
    /*height: 100%;*/
    width: 75%;
    margin: 0 12.5%;
    overflow: hidden;
    box-sizing: border-box;
    padding: 45px;
    font-family: "Lora";
    font-size: 16px;
}

.portList {
    width: 75%;
    /*min-height: 25%;*/
    margin: 40px 12.5% 75px;
    font-family: "Lora";
    padding-left: 75px;
    font-size: 16px;
    position: relative;
}

.portList:before {
    content: 'What i did and learned:';
    position: absolute;
    font-family: "Lora Bold";
    top: -2em;
    left: 53px;
}

.buttonsWrap {
    position: relative;
    margin-top: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.prevButton, .nextButton {
    position: relative;
    z-index: 10;
}

.prevButton {
    /*left: 40%;*/
    /*bottom: 80px;*/
    z-index: 2;
    font-family: 'San Francisco Display Ultralight';
    margin-right: 15px;
}

.nextButton {
    /*right: 40%;*/
    /*bottom: 80px;*/
    font-family: 'San Francisco Display Ultralight';
    margin-left: 15px;
}

.prevButton a {
    color: white;
    background-color: black;
    z-index: 2;
    font-size: 26px;
    border-radius: 2px;
    text-decoration: none;
    padding: 5px 50px;
}

.nextButton a {
    color: white;
    z-index: 2;
    background-color: black;
    text-decoration: none;
    border-radius: 2px;
    font-size: 26px;
    padding: 5px 50px;
}


/*.img-appear {

    transform: translateY(-1000px)
}*/

.img-enter {
    /*width: 33%;*/
    will-change: transform;
    transform: translateY(-2000px) translateZ(0);
    backface-visibility: hidden;
    position: absolute;
}

.img-leave {
    will-change: transform;
    /*width: 33%;*/
    visibility: visible;
    backface-visibility: hidden;
    transform: translateY(0px) translateZ(0);
    position: absolute;
}

.img-enter.img-enter-active {
    transform: translateY(0px);
    transition: all 1s;
    position: absolute;
    backface-visibility: hidden;
}


/*.img-appear.img-appear-active {
    opacity: 1;
    transform: translateY(0px);
    transition: all 1s ease-in;
      position: absolute;
}*/

.img-leave.img-leave-active {
    transform: translateY(2000px) translateZ(0);
    transition: all 1s;
    position: absolute;
    /*width: 33%;*/
}


/*.text-appear {
    opacity: 1;
    transform: translateY(1000px)
}*/

.text-enter {
    transform: translateY(2000px) translateZ(0);
    position: absolute;
    bottom: 0;
}

.text-leave {
    position: absolute;
    top: 0;
    transform: translateY(0px) translateZ(0);
}

.text-enter.text-enter-active {
    transform: translateY(0px) translateZ(0);
    transition: all 1s;
    position: absolute;
    top: 0;
    /*width: 100%;*/
}


/*.text-appear.text-appear-active {
    opacity: 1;
    transform: translateY(0px);
    transition: all 1s ease-in;
      position: absolute;
}*/

.text-leave.text-leave-active {
    transition: all 1s;
    transform: translateY(-2000px) translateZ(0);
    position: absolute;
    ;
    top: 0;
    right: 0;
    /*width: 100%;*/
}


/*div {
    height: 200px;
    background: green;
}

div:after {
    content: '';

    position: absolute;
    left: 0;
    top: 0;

    border-top: 30px solid white;
    border-right: 30px solid green;
}

div:before {
    content: '';

    position: absolute;
    right: 0;
    top: 170px;

    border-bottom: 30px solid white;
    border-left: 30px solid green;
}*/

.titleTextPort {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    font-size: 50px;
    font-weight: bold;
    font-family: Lora Bold;
}

.preTextPort {
    width: 65%;
    margin: 0 auto;
    font-family: Lora Italic;
    font-size: 20px;
    text-align: center;
}

.portTextCh {
    font-family: 'Lora'
}


/*.middle3 {
    width: 32%;
}*/

.backToList {
    position: relative;
    color: black;
    /*bottom: 46px;
    left: 35%;
    font-size: 20px;*/
    z-index: 10;
}

.backToListWrap {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 20px 0;
    white-space: nowrap;
    font-family: 'San Francisco Display Ultralight';
}

.backToList {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    line-height: 2em;
    padding-left: 35px;
    padding-right: 35px;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.backToList:hover {
    color: white;
    text-decoration: none;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
    background-color: #252525;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.logo:hover {
    /*color: white;*/
    text-decoration: none;
    /*box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);*/
    /*background-color: #252525;*/
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.backToList:hover:before {
    -webkit-animation: shine 0.5s 0s linear;
    -moz-animation: shine 0.5s 0s linear;
    animation: shine 0.5s 0s linear;
}

.backToList:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}

.logo:hover:before {
    -webkit-animation: shine 0.5s 0s linear;
    -moz-animation: shine 0.5s 0s linear;
    animation: shine 0.5s 0s linear;
}

.logo:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}

.logo:before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: white;
    box-shadow: 0 0 15px 6px white;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

.backToList:before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: white;
    box-shadow: 0 0 15px 3px white;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

.gitLink {
    width: 64px;
    height: 64px;
    position: relative;
    left: calc(50% - 32px);
}

.gitLink>img {
    width: 64px;
    height: 64px;
}

@-webkit-keyframes shine {
    from {
        opacity: 0;
        left: 0%;
    }
    50% {
        opacity: 1;
    }
    to {
        opacity: 0;
        left: 100%;
    }
}

@-moz-keyframes shine {
    from {
        opacity: 0;
        left: 0%;
    }
    50% {
        opacity: 1;
    }
    to {
        opacity: 0;
        left: 100%;
    }
}

@keyframes shine {
    from {
        opacity: 0;
        left: 0%;
    }
    50% {
        opacity: 1;
    }
    to {
        opacity: 0;
        left: 100%;
    }
}

@media (max-width:768px) {
    .head {
        display: none!important
    }
    .drawer-nav, .menu {
        display: flex;
        flex-direction: column
    }
    .menu {
        max-height: 100%!important;
        color: red!important;
        margin: 0;
        padding-left: 0;
        margin: 0 auto;
        font-size: 22px;
        /*width: auto;*/
        border: none
    }
    .menu a {
        margin: 15px 0
    }
    .userMenu {
        justify-content: center;
        flex-direction: column;
        border: none
    }
    header {
        text-align: center;
        box-sizing: border-box
    }
    .HeadName, header {
        height: 60px;
        display: flex;
        align-items: center;
        color: #000;
        background-color: white;
        justify-content: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    }
    .HeadName {
        font-size: 20px;
        text-decoration: none;
        z-index: 1;
        background-color: transparent;
    }
    .logo {
        font-family: SF Collegiate !important;
        font-size: 40px !important;
    }
    .portWrapReact {
        flex-direction: column;
    }
    .portItem {
        width: 100% !important;
        margin: 10px 0 !important;
    }
    .HeadName:hover {
        color: #000;
        text-decoration: none
    }
    .headWrap {
        top: 60px!important
    }
    .drawer drawer--top drawer-close {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .drawer-hamburger {
        position: relative!important;
        float: right;
        margin-right: 10px
    }
    .drawer-toggle {
        position: absolute
    }
    .drawer--top.drawer-open .drawer-nav {
        z-index: 10000;
        z-index: 11;
        overflow: hidden;
    }
    .drawer--top .drawer-hamburger, .drawer--top.drawer-open .drawer-hamburger {
        top: 4px;
        z-index: 10001;
        position: absolute!important;
        overflow: hidden;
    }
    .drawer {
        overflow: hidden;
    }
    .portWrapper {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        /*overflow: hidden;*/
        /*transform: translateY(-1vh);*/
    }
    .portBigImg {
        min-height: 300px;
        height: 300px;
        width: 100%;
        will-change: transform;
        overflow: visible;
    }

    .portText {
        width: 100%;
        overflow: visible;

    }
    .portTextCh {
        width: 100%;
        margin: 0;
        padding: 25px 20px 35px;
    }
    .portList {
      min-height: 0;
      margin-bottom: 40px;
      height: auto;
        /*min-height: 25%;*/
        /* margin: 20px 12.5%; */
        /* padding-left: 75px; */
        position: relative;
    }
    .img-enter {
        /*width: 33%;*/
        width: 100%;
        will-change: transform;
        transform: translateX(-2000px) translateZ(0);
        backface-visibility: hidden;
        position: absolute;
        overflow: hidden;

    }
    .img-leave {
        will-change: transform;
        /*width: 33%;*/
        overflow: hidden;
        top: 0;
        backface-visibility: hidden;
        transform: translateX(0px) translateZ(0);
        position: absolute;
    }
    .img-enter.img-enter-active {
        transform: translateX(0px);
        transition: all 1s;
        position: absolute;
        backface-visibility: hidden;

    }
    /*.img-appear.img-appear-active {
    opacity: 1;
    transform: translateY(0px);
    transition: all 1s ease-in;
      position: absolute;
}*/
    .img-leave.img-leave-active {
        transform: translateX(0) translateX(2000px) translateZ(0);
        transition: all 1s;
        position: absolute;

        /*width: 33%;*/
    }
    /*.text-appear {
    opacity: 1;
    transform: translateY(1000px)
}*/
    .text-enter {
        transform: translateX(2000px) translateZ(0);
        position: absolute;
        right: 0;
        top:0px;
    }
    .text-leave {
        position: absolute;
        left: 0;
        transform: translateX(0px) translateZ(0);
    }
    .text-enter.text-enter-active {
        transform: translateX(0px) translateZ(0);
        transition: all 1s;
        position: absolute;

    }
    /*.text-appear.text-appear-active {
    opacity: 1;
    transform: translateY(0px);
    transition: all 1s ease-in;
      position: absolute;
}*/
    .text-leave.text-leave-active {
        transition: all 1s;
        display: inline-block;
        transform: translateX(-2000px) translateZ(0);
        position: absolute;
        /*width: 100%;*/
    }
    .portWrapper {
      overflow-x: hidden;

    }
    .portList {
      margin: 40px 0 60px;
      padding-left: 40px;
    }
    .portList:before {
        content: 'What i did and learned:';
        position: absolute;
        font-family: "Lora Bold";
        top: -2em;
        left: 40px;
    }
    #portWrapR {
      height: 100%;
    }
}
