body, html {
    width: 100%;
    height: 100%;
}
.head {
    width: 100%;
    height: 50px;
    background-color: hsl(20, 100%, 65%);
}
.nav {
  width: 100%;
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: row;
    white-space: nowrap;
    color: black;
}
.menu {
    display: flex;
    flex-direction: row;
    max-height: 50px;
    align-items: center;
    margin-left: 60px;
    margin-right: auto;
    min-width: 600px;
    position: relative;
    clear: both;

}
.menu a {
    padding: 0px 5%;
    font-size: 18px;
    white-space: nowrap;
    color: black;
    cursor: pointer;
    position: relative;
}
.navbar-brand {
    color: black;
    cursor: pointer;
    padding-right: 6%;
}
.userMenu {
    min-width: 1px;
    display: flex;
    flex-direction: row;
    max-height: 50px;
    align-items: center;
  s
    position: relative;
}
.userMenu a {
    font-size: 18px;
    white-space: nowrap;
    color: white;
}
.blogWrap {
height: 100%;
}
.blogPost {
  min-height: 400px;
  border: solid thin hsl(60, 33%, 50%);
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px hsl(60, 33%, 50%);
}
.blogPost:hover {
  box-shadow: 0 0 15px hsl(60, 33%, 50%);
  transition: 1s;
}
.aa {
  width: 100px;
  height: 100px;
  background-color: red;
}
