body, html {
  width: 100%;
  height: 100%;
}
.head {
  width: 100%;
  height: 50px;
  background-color: hsl(20, 100%, 65%);
  overflow: hidden;
  margin-bottom: 10px;
  z-index: 101;
}
.nav {
  position: relative;
  min-height: 50px;
  margin-bottom: 40px;
  border: 1px solid transparent;
  display: flex;
  max-width: 1200px;
  flex-direction: row;
  margin: 0 auto;
  color: black;
  white-space: nowrap;
  z-index: 100;
}
.menu {
  display: flex;
  flex-direction: row;
  max-height: 50px;
  align-items: center;
  justify-content: space-around;
  position: relative;
  width: 500px;
  margin-right: auto;
}
.menuMobile {
  display: flex;
  flex-direction: column;
}
.menu a {
  padding: 0px 5%;
  font-size: 18px;
  white-space: nowrap;
  color: black;
  cursor: pointer;
  position: relative;
  display: inline-block;
  font-family: Open Sans;
}
.navbar-brand {
  color: black;
  cursor: pointer;
  padding-right: 6%;
}
.userMenu {
  min-width: 1px;
  display: flex;
  flex-direction: row;
  max-height: 50px;
  align-items: center;
  position: relative;
}
.userMenu a {
  font-size: 18px;
  white-space: nowrap;
  color: white;
}
.blogWrap {
  max-height: 100%;
}
.blogPost {
  min-height: 100px;
  border: solid thin hsl(0, 0%, 88%);
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 0 10px hsl(0, 0%, 88%);
  padding: 20px 0px;
  display: inline-block;
  width: 100%;
}
.postWrap {
  height: 80%;
  margin-top: 50px;
}
.meta {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  word-wrap: normal;
}
.meta input {
  margin: 10px 0px;
}
a {
  cursor: pointer;
}
.title {
  min-height: 50px;
  color: hsl(0, 100%, 5%);
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  overflow: hidden;
  text-align: center;
}
.readMore {
  margin: 20px 0;
  text-decoration: underline;
  color: green;
  height: 40px;
}
.titleData {
  font-size: 12px;
}
.autorAndDate {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.commentsAndTags {
  display: flex;
  justify-content: space-between;
}
.titleAutor {
  margin: 20px 0 15px;
}
#send {
  margin-top: 20px;
}
@media (max-width: 768px) {
  .head {
    display: none !important;
  }
  .drawer-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(20, 100%, 65%) !important;
  }
  .menu {
    display: flex;
    flex-direction: column;
    max-height: 100% !important;
    color: red !important;
    margin: 0;
    width: auto;
  }
  .menu a {
    margin: 10px 0;
  }
  .userMenu {
    justify-content: center;
  }
  header {
    text-align: center;
  }
  .HeadName {
    display: inline-block;
    padding-top: 15px;
    margin-left: 40px;
    font-size: 20px;
    color: white;
  }
  .drawer-hamburger {
    position: relative !important;
    float: right;
    margin-right: 10px;
  }
}
@media (min-width: 769px) and (max-width: 5000px) {
  .drawer {
    display: none !important;
  }
}
.title a{
  text-decoration: none;
  color: black;
}
.headPost {
  width: 100%;
  height: 400px;
  background-color: gray;
  position: absolute;

  top: 0;
  z-index: -1;
}
.drawer-hamburger-icon, .drawer-hamburger-icon:after, .drawer-hamburger-icon:before {
  background-color: white !important;
}
.postTitle {
  color: white;
  font-size: 25px;
  height: 345px;
  display: flex;
  text-align: center;

  justify-content: flex-end;
  flex-direction: column;
}
.dateAutor {
  font-size: 15px;
  margin-bottom: 50px;
}
.fullText img {
  width: 100%;
  height: auto;
}
figure {
  margin: 0;
}
.fullText {
  white-space: normal;
  word-break: normal;
}
.headWrap {
  height: 400px;
  width: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  
}
